/*font-family: "Figtree", sans-serif;"*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

.blog-card {

}

.illustration-article-wrapper {

}

.illustration-article {

}

.learning-wrapper {

}

h4 {

}

.published-date {

}

h2 {

}

.description {

}

.author {

}

.image-avatar {

}

.author p {

}